<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('一级车类列表')">
</head>
<body>
<script>
    $(function(){
        var dataVue={
            uri:"carCategory",
            pagination:{},
            beans:[],
            bean:{id:0,name:''}
        };
        var vue = new Vue({
            el:"#carCategoryInfo",
            data:dataVue,
            mounted:function(){  //当vue加载成功执行它
                this.list(1);
            },
            methods : {
                //获取一级分类信息
                list : function(start){
                    var url = this.uri + "/listStairCarCategory?start="+start;
                    axios.get(url).then(function(response) {
                        vue.pagination=response.data;
                        vue.beans=response.data.list;
                    });
                },
                //添加一级分类
                add : function(){
                    if(checkEmpty(this.bean.name,"一级车类名")){ //判空
                        return;
                    }
                    var url = this.uri + "/addCarCategory";
                    axios.post(url,this.bean).then(function(response) {
                        location.reload();
                    });
                },
                deleteBean : function(id){
                    if(!checkDeleteLink()){
                        return;
                    }
                    var url = this.uri + "/deleteCarCategory?id="+id;
                    axios.get(url).then(function(response) {
                        location.reload();
                    });
                },
                jump : function (page) {
                    jump(page,vue);    //点击左右两边跳转要么下一页要么最后一页,要么前一页要么第一页
                },
                jumpByNumber : function(start){
                    jumpByNumber(start,vue); //显示出导航栏页数的跳转
                }
            }
        });
    });
</script>
<div th:replace="include/admin/navList :: nav"></div>
<div id="nav1" th:include="include/admin/navList1 :: nav1" style="margin-top: -5px"></div>
<div id="carCategoryInfo" style="border: 1px solid #bdd7f2;width: 1325px;height: 665px;margin-top:53px;margin-left: 210px ">
    <div style="position: absolute;left: 220px;top: 80px;font-size: 15px">
        <a href="" style="text-decoration:none">一级分类</a>
    </div>
    <div id="carCategoryInfo_pageList">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <th>id</th>
            <th>操作</th>
            <th>一级车类</th>
            </thead>
            <tbody>
            <tr v-for='b in beans'>
                <td>{{b.id}}</td>
                <td>
                    <a :href="'editStairCarCategory?id='+b.id" style="font-size:14px;text-decoration:none ">编辑</a>
                    <a href="#" style="font-size:14px;text-decoration:none" @click="deleteBean(b.id)">删除</a>
                </td>
                <td><a :href="'listSecondCarCategory?parentId='+b.id" style="font-size:14px;text-decoration:none;color: #67b168">{{b.name}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="pageNav2">
        <div  th:replace="include/admin/adminPage::html" ></div>
    </div>
    <div id="addStairCategory">
        <!-- 上新增一级分类 -->
        <div class="panel panel-default">
            <div class="panel-heading">新增一级车类</div>
            <div class="panel-body">
                <table class="addTable" height="150px" width="280px">
                    <tr>
                        <td style="font-size:13px">车类名称: </td>
                        <td><input  @keyup.enter="add" v-model.trim="bean.name" type="text" class="form-control"></td>
                    </tr>
                    <tr class="submitTR">
                        <td colspan="2" align="center">
                            <a href="#nowhere"  @click="add" class="btn btn-success">提交</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>