<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="include/admin/adminHeader::html('添加汽车标志信息')"></head>
    <body>
        <script>
            $(function () {
               var dataVue = {
                    uri:'carMark',
                    bean:{id:0,name:'',source:''}
                };
                var vue = new  Vue({
                    el : '#addCarMark',
                    data : dataVue,
                    methods : {
                        //添加用户信息
                        addCarMarkMsg : function(){
                            if(checkEmpty(this.bean.name,"车标名")){ //判空
                                return;
                            }
                            var url = this.uri + '/addOneCarMark';
                            axios.post(url,vue.bean).then(function(response){
                                alert(response.data);
                                location.reload();
                            });
                        }
                    }
                });
            });
        </script>
        <div th:replace="include/admin/navList :: nav"></div>
        <div id="nav1" th:include="include/admin/navList1 :: nav1" style="margin-top: -5px"></div>
            <div id="addCarMark" style="border: 1px solid #bdd7f2;width: 1325px;height: 665px;margin-top:53px;margin-left: 210px ">
                <div class="panel panel-default" style=" width: 800px;margin: 0 auto;margin-top: 100px">
                    <div class="panel-heading">添加汽车标志信息</div>
                    <div class="panel-body">
                        <table   width="700px" height="400px">
                            <tr>
                                <td>车标名:</td>
                                <td>
                                    <input type="text" class="form-control" v-model="bean.name"   />
                                </td>
                            </tr>
                            <tr>
                                <td>车标由来: </td>
                                <td align="center"><textarea  style="width:600px;height:100px;resize:none" class="form-control" v-model = "bean.source" maxlength="1000"></textarea> </td>
                            </tr>
                            <tr >
                                <td style="position: absolute;left: 800px"><button type="button" class="btn btn-sm" @click="addCarMarkMsg()">提交</button></td>
                            </tr>
                        </table>
                </div>
            </div>
    </body>
</html>