<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('编辑发动机属性信息')"></head>
<body>
<script>
    $(function () {
        var dataVue = {
            uri:'propertyValue',
            bean:{id:0,ccategoryId:0,engineype:'',displacement:0,airintakeform:'',cylinderarrangement:'',numberofcylinders:0,numberofvalvespercylinder:0,compressionratio:'',valvemechanism:'',
                cylinderdiameter:0,journey:0,maxhp:0,maximumpower:0.0,maximumpowerspeed:0,enginespecifictechnology:'',fuelform:'',fuellabel:'',
                oilsupplyway:'',cylinderheadmaterial:'',cylinderbodymaterial:'',environmentalstandard:''
            },
            grantParentId:0,
            master:0,
            name:''
        };
        var vue = new  Vue({
            el : '#editEnginePropertyValue',
            data : dataVue,
            mounted : function () { //mounted　表示这个 Vue 对象加载成功了执行的操作
                this.geteditEnginePropertyValueMsg();
            },
            methods : {
                //获取发动机信息
                geteditEnginePropertyValueMsg : function () {
                    var grantParentId =  getUrlParms('grantParentId'); //获取分类id
                    this.grantParentId = grantParentId;
                    var master = getUrlParms('master'); //显示一级分类id
                    this.master = master;
                    var id = getUrlParms('id');
                    var name = getUrlParms('name');
                    this.name = name;
                    var url = this.uri + "/getOneEnginePropertyValue?id="+id;
                    axios.get(url).then(function (response) {
                        vue.bean =  response.data;
                    })
                },
                //修改汽车种类细信息
                changeeditEnginePropertyValueMsg : function(){
                    var url = this.uri + '/updateOneEnginePropertyValue';
                    axios.post(url,vue.bean).then(function(response){
                        alert(response.data);
                        location.reload();
                    });
                },
                back : function(){
                    location.href = "listEnginePropertyValue?ccategoryId="+vue.bean.ccategoryId+"&grantParentId="+vue.grantParentId+"&master="+vue.master+"&name="+vue.name;
                }
            }
        });
    });
</script>
<style type="text/css">
    #editEnginePropertyValue{
        width: 800px;
        height: 1100px;
        margin: 0 auto;
    }
    .panel-default{
        height: 1100px;
    }
</style>
<div id="editEnginePropertyValue" >
    <div class="panel panel-default">
        <div class="panel-heading">编辑发动机信息</div>
        <div class="panel-body">
            <table   width="700px" height="1000px">
                <tr>
                    <td>ID:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.id" readonly="readonly"  />
                    </td>
                </tr>
                <tr>
                    <td>分类id:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.ccategoryId" readonly="readonly"  />
                    </td>
                </tr>
                <tr>
                    <td>发动机型号:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.engineype"  />
                    </td>
                </tr>
                <tr>
                    <td>排量(ml):</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.displacement"  />
                    </td>
                </tr>
                <tr>
                    <td>进气形式:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.airintakeform"  />
                    </td>
                </tr>
                <tr>
                    <td>气缸排列形式:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.cylinderarrangement"   />
                    </td>
                </tr>
                <tr>
                    <td>气缸数(个):</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.numberofcylinders"  />
                    </td>
                </tr>
                <tr>
                    <td>每缸气门数(个):</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.numberofvalvespercylinder"   />
                    </td>
                </tr>
                <tr>
                    <td>压缩比:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.compressionratio"   />
                    </td>
                </tr>
                <tr>
                    <td>配气机构:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.valvemechanism"  />
                    </td>
                </tr>
                <tr>
                    <td>缸径(mm):</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.cylinderdiameter"   />
                    </td>
                </tr>
                <tr>
                    <td>行程:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.journey"   />
                    </td>
                </tr>
                <tr>
                    <td>最大马力(kw):</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.maxhp"   />
                    </td>
                </tr>
                <tr>
                    <td>最大功率(kw):</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.maximumpower"  />
                    </td>
                </tr>
                <tr>
                    <td>最大功率转速(rpm):</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.maximumpowerspeed"   />
                    </td>
                </tr>
                <tr>
                    <td>发动机特有技术:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.enginespecifictechnology"   />
                    </td>
                </tr>
                <tr>
                    <td>燃料形式:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.fuelform"   />
                    </td>
                </tr>
                <tr>
                    <td>燃油标号:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.fuellabel"   />
                    </td>
                </tr>
                <tr>
                    <td>供油方式:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.oilsupplyway"   />
                    </td>
                </tr>
                <tr>
                    <td>缸盖材料:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.cylinderheadmaterial"   />
                    </td>
                </tr>
                <tr>
                    <td>缸体材料:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.cylinderbodymaterial"   />
                    </td>
                </tr>
                <tr>
                    <td>环保标准:</td>
                    <td>
                        <input type="text" class="form-control" v-model="bean.environmentalstandard"   />
                    </td>
                </tr>

                <tr >
                    <td style="position: absolute;left: 600px"><button type="button" class="btn btn-sm" @click="changeeditEnginePropertyValueMsg()">提交</button></td>
                    <td style="position: absolute;left: 750px"><button type="button" class="btn btn-sm" @click="back()">返回</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>